<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top mb-4">
    <div class="container">
        <a class="navbar-brand font-logo text-dark fw-bold" href="{% url 'account:index' %}">Instagram Clone</a>

        <div class="d-flex align-items-center">
            <form class="d-flex w-100" action="{% url 'account:search' %}" method="GET">
                <input type="text" name="search" class="form-control form-control-sm me-2" placeholder="Поиск пользователей..." value="{{ search_value|default:'' }}">
                <button class="btn btn-outline-dark btn-sm d-flex align-items-center me-3" type="submit">Найти</button>
            </form>
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:post_add' %}" class="btn btn-outline-dark btn-sm d-flex align-items-center me-3" title="Создать публикацию">
                    <span class="fs-5 me-1" style="line-height: 1;">+</span> Публикация
                </a>
                 <form action="{% url 'account:logout' %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-link text-dark p-0 text-decoration-none fw-semibold">Выход</button>
                </form>
                <a href="{% url 'account:profile' pk=request.user.pk %}" class="btn btn-sm btn-link text-dark p-0 text-decoration-none fw-semibold">
                    Мой профиль
                </a>
            {% else %}
                <a href="{% url 'account:login' %}" class="btn btn-sm btn-outline-primary me-2">
                    Войти
                </a>
                <a href="{% url 'account:register' %}" class="btn btn-sm btn-primary">
                    Регистрация
                </a>
            {% endif %}
        </div>
    </div>
</nav>
