<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top mb-4">
    <div class="container">
        <a class="navbar-brand font-logo" href="{% url 'account:index' %}">Instagram Clone</a>
        <div class="d-flex align-items-center">
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:post_add' %}" class="btn btn-outline-dark btn-sm d-flex align-items-center me-3" title="Создать публикацию">
                    <span class="fs-5 me-1" style="line-height: 1;">+</span> Публикация
                </a>
                <a href="{% url 'account:profile' pk=request.user.pk %}" class="btn btn-sm btn-link text-dark p-0">
                    Мой профиль
                </a>
            {% endif %}
        </div>
    </div>
</nav>